.page-header
  %h1 What is this app, you say?

%p A blog app. Whether you're an administrator or a regular user, you can make use of several of this site's features.
%strong Admins:
%ul
  %li Want to post a blog? No problem
  %li Realized you made a spelling mistake and need to update your blog? No problem
  %li Failed at blogging and want to delete ASAP? No problem
  %li Changed your mind and want to restore your previously deleted post? No problem
  %li Have something to say about your own or someone else's post? No problem
  %li Just want to lurk and see all posts? No problem

%strong Other registered users:
%p Even though your actions may be more limited than the aforementioned, you may still view all the posts and comment on them. How fun!

%h3 Thanks for visiting! :)
