.page-header
  %h1 Posts

- if current_user.class == 'AdminUser'.constantize
  = link_to 'New post', new_post_path, class: 'btn'

- @posts.each do |post|
  .blog-post
    .blog-title= link_to post.title, post
    %hr
