.page-header
  %h1 Deleted Posts

- @posts.each do |post|
  .blog-post
    .blog-title
      = post.title
      - if current_user.can_admin?(post)
        %p= link_to 'Restore', post_restore_path(post), method: :put
    %hr
